version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "11:00"
    timezone: "America/Mexico_City"
  open-pull-requests-limit: 5
  reviewers:
    - "cuenca-mx/admin"

- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "11:00"
    timezone: "America/Mexico_City"
  open-pull-requests-limit: 5
  reviewers:
    - "cuenca-mx/admin"
