notifications:
  slack: cuencafinance:6N0IaVciA0KyNylSTq5ZzW4I

language: python

script: make test

jobs:
  include:
    - stage: test
      python: 3.6
    - stage: test
      python: 3.7
      dist: xenial
      sudo: true
    - stage: code coverage
      python: 3.7
      dist: xenial
      sudo: true
      install: pip install coveralls
      script:
      - coverage run --source=clabe setup.py test
      - coveralls
    - stage: PyPI Upload
      python: 3.7
      dist: xenial
      sudo: true
      script: echo "Uploading packages to PyPI"
      deploy:
        provider: pypi
        user: cuenca
        password:
            secure: "AA3D6G89zl69F09IsasFluO0Q9XuGGQzHO+XSwnOhp9zOHx/fKXc5JM9K+3BgH9GEhTc4fCgp3glXbjDpRsmVUCpC5nFOIWyLyMESb9o1PFqxQllapWb4u9+19cND8qOlNeIMuTO6Akawo05GKaeFqiX0w2/ekPT9PBjdV2Hamm1HF1kAyIsh1fNqdK54300K9ZGDg0WU0YKJ3lpXB514z9A63TvDTBJKmTweJU1GdsleHR7fJ9XmSc3oeKh8Mq4nWyJyMDbQtHfs1NgJkPYQWoUm+TsPQPaS+xGocrmCqCxTH53gRV1BICho40Eicg9YiDFA0Vhnj/KvMvMpiTVF5wiIBbAl5JRtJtamLtcxTwnJQqRnu7yfN1Azw7nLXHG1Kq/OwVy+W+SJoYVnqCH+TLvlSOrsIb/5t8IlD9m67z8qAdjbKKOQeU6LD+cJtdBrDMNw4FLHZPefBRsRJ6RNrgMwz3kzbVrmTyCNms/cXsYoq0pO6SgyleQE+WksFgRxe145V5VAer7WhYDyoFN2QN23IOIN/DDid4FyklbjS/3V/SvkzXC7l1zE1EaH4wwFofKMwZo1uKYqWrQyN0dWs32NTSOesZSITWiH0DShXZowtz6WehVUBDRZFfs7NU6mNZjKTjH76kL0wUoS3ShUSBqMJBfjG/EF1LHyr1xYG4="
        on:
          tags: true
        distributions: sdist bdist_wheel
